<% provide(:title, '過去の投稿') %>

<h1>過去の投稿</h1>

<% if @published_posts.empty? %>
  <%= render 'shared/resource_non_existent', resource: '過去の投稿' %>

<% else %>
  <%=  paginate @published_posts %>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @published_posts.each do |post| %>
      <%= render 'published_post', post: post %>
    <% end %>
  </div>

  <%=  paginate @published_posts %>
<% end %>