// Place all the styles related to the pages/settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.setting-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 30px;
  padding: 30px;
}

.button {
  max-width: 150px;
}