<div class="container-fluid">
  <% if logged_in? %>
    <%= render 'shared/tag_modal' %>
    <div class="row">
      <div class="col-2">
        <%= render 'shared/tags_sidebar' %>
      </div>
      <div class="col">
      </div>
      <div class="col-3">
        <%# <%= render 'shared/post-sidebar' %>
        <a href="#">POST SIDEBAR</a>
      </div>
    </div>
  <% else %>
    <h1>ようこそ</h1>
  <% end %>
</div>