<div class="container-fluid">
  <% if logged_in? %>
    <%= render 'shared/tag_modal' %>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <%= render 'shared/tags' %>
        <%= render 'shared/post_form' %>
      </div>
      <div class="col-2"></div>
    </div>
  <% else %>
    <h1>ようこそ</h1>
  <% end %>
</div>