<ul class="nav">
  <li class="nav-item">
    <%=  link_to "TwitterOutputter", root_path, class: 'navbar-brand' %>
  </li>
  <% if logged_in? %>
  <li class="nav-item">
    <%# TODO ログアウトパスのルーティング %>
    <%= link_to "ログアウト", "logout_path", class: "nav-link", method: :delete %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Twitterでログイン" , "auth/twitter", class: "nav-link", method: :post %>
  </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" href="#">リンク2</a>
  </li>
</ul>