<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">アクティブ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">リンク1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">リンク2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">無効</a>
  </li>
</ul>