<ul id="tags" class="list-unstyled ms-2 py-3 pt-md-1">
  <%= render partial: 'shared/tag', collection: current_user.tags %>
  <li class="mb-1">
    <div id="tag-new-container" class="tag-container">
      <%= link_to '追加', new_tag_path, remote: true, class: "tag-new icon plus" %>
    </div>
  </li>
</ul>