<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
      <h1 class="display-1 fw-bold text-danger">
        500
        <small class="text-muted">Internal Server Error</small>
      </h1>
      <p class="lead">アクセスしようとしたページは表示できませんでした。</p>
      <%= link_to "ホームへ戻る", root_path, class: "button button-submit" %>
  </div>
</div>