<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
      <h1 class="display-1 fw-bold text-danger">
        404
        <small class="text-muted">Not Found</small>
      </h1>
      <p class="lead">お探しのページにアクセス出来ませんでした。移動もしくは削除された可能性があります。</p>
      <p class="lead">また、URLにタイプミスが無いか再度ご確認ください。</p>
      <%= link_to "ホームへ戻る", root_path, class: "button button-submit" %>
  </div>
</div>