<% if post.images.attached? %>
  <% post.images.each do |img| %>
    <div id=<%= image_id(img) %>>
      <%= image_tag(img.variant(resize_to_fit: [100, 100]), class: 'card-img-bottom mb-3') %>
      <%= link_to "削除", image_path(img, post_id: post.id), method: :delete, remote: true, class: "button button-danger icon trash"%>
    </div>
  <% end %>
<% end %>