<% provide(:title, '予約投稿') %>

<h1>予約投稿</h1>

<%=  paginate @scheduled_posts %>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @scheduled_posts.each do |scheduled_post| %>
    <%= render 'scheduled_post', scheduled_post: scheduled_post %>
  <% end %>
</div>

<%=  paginate @scheduled_posts %>